MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookDTO" nillable="true" type="tns:BookDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookDTO" nillable="true" type="tns:ArrayOfBookDTO" />
  <xs:complexType name="BookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pages" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookDTO" nillable="true" type="tns:BookDTO" />
  <xs:complexType name="ArrayOfBuyerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuyerDTO" nillable="true" type="tns:BuyerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuyerDTO" nillable="true" type="tns:ArrayOfBuyerDTO" />
  <xs:complexType name="BuyerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Money" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyerDTO" nillable="true" type="tns:BuyerDTO" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:BookDTO" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:BuyerDTO" />
      <xs:element minOccurs="0" name="BuyerId" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOfOrder" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
</xs:schema>